@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html{
    scroll-behavior: smooth;
}
h1, h2, h3, p, a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500; 
}
span.block{
    display: block;
}
.number{
    margin: 0 3px;
    position: relative;
    top: -2px;
}
.deep-yellow{
    color: #EE8B30;
}
.deep-green{
    color: #467443;
}
.deep-red{
    color: #E1444D;
}
.declaration{
    color: #999999;
}
h2 > span.number{
    font-size: 42px;
}
h3 span.number{
    font-size: 33.5px;
}
ul.ellipse li::marker{
    content: url(../img/list_ellipse.svg);
}
ul li > p{
    position: relative; left: 10px;
}
.fixed-top{
    position: fixed !important;
}

/*Header*/
header > .clearfix:before, .clearfix:after, .dl-horizontal dd:before, 
.dl-horizontal dd:after, .container:before, .container:after, 
.container-fluid:before, .container-fluid:after, .row:before, 
.row:after, .form-horizontal .form-group:before, .form-horizontal 
.form-group:after, .btn-toolbar:before, .btn-toolbar:after,
.btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, 
.nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, 
.navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, 
.pager:before, .pager:after, .panel-body:before, .panel-body:after, 
.modal-footer:before, .modal-footer:after{
    content: none;
}
header .navbar{
    background: #FFF;  
    padding-top: 0; padding-bottom: 0; margin-bottom: 0;
    box-shadow: inset 0px -5px 0px #FFFD00, inset 0px 5px 0px #00A94F;
}
header .navbar-collapse{
    flex-grow: 0;
    padding-right: 0;
}
header .container-fluid{
    width: 85%;
}
header .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: center;
}
header .navbar-brand{
    height: inherit;
}
header .navbar img.logo{
    width: 207px;
}
header .navbar a.nav-link{
    font-size: 22px; font-weight: 600;
    color: #2B4C29; letter-spacing: 1px; 
    padding-right: 1.5em; text-decoration: none;
    padding-left: 1.5em; position: relative;
    top: 3px;
}
header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
}
header .navbar a.nav-link::after{
    content: ''; background: #2B4C29;
    width: 0%; height: 4px; top: .4em;
    border-radius: 50px;  display: block;
    position: relative; transition: all .3s ease;
}
header .navbar a.nav-link:hover:after{
    width: 100%; 
}

header .navbar-toggler{
    border-radius: 100%;
    width: 50px; height: 50px;
    font-size: 0; 
}
header .navbar-toggler:focus {
    box-shadow: none;
}
header .navbar-toggler .navbar-toggler-icon {
    width: 25px; height: 3px;
    background: #467443;
    border-radius: 5px; position: absolute;
    transition: all .5s ease-in-out;
    /*Inside-Alignment*/
    display: flex; justify-content: center;
    align-items: center;
}
header .navbar-toggler .navbar-toggler-icon::before,
header .navbar-toggler .navbar-toggler-icon::after{
    content: ''; position: absolute; height: 3px; 
    background: #467443; border-radius: 5px;
    transition: all .5s ease-in-out;
    transition-delay: .1s;
}
header .navbar-toggler .navbar-toggler-icon::before{
    width: 25px; transform: translateY(-8px);
}
header .navbar-toggler .navbar-toggler-icon::after{
    width: 25px; transform: translate(0, 8px);
}

/* Navbar-Toggler-Icon-Animation */
header .navbar-toggler.open .navbar-toggler-icon{
    background: none; transition: all .2s ease;
}
header .navbar-toggler.open .navbar-toggler-icon::before{
    height: 4px; transform: rotate(-45deg);
}
header .navbar-toggler.open .navbar-toggler-icon::after{
    height: 4px; transform: rotate(45deg);
}

header > .container>.navbar-header, .container-fluid>.navbar-header, 
.container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-left: 0; margin-right: 0;
}

/*Fixed-Bottom*/
.advice{
    width: 80%; height: 60px;
    background: #FFF; margin: auto;
    box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px); bottom: 2em;
    border-radius: 32px; padding: 15px 0;
}
.advice > *{
    display: inline-block;
}
.advice p{
    color: #666666; font-size: 25px;
    margin-bottom: 0; font-weight: 600;
    letter-spacing: .75px; position: relative;
    top: -2.15em;
}
.advice .percentage{
    font-size: 70px; padding: 0 8px;
}
.advice .lets-apply{
    position: relative; top: -3em;
    left: 1.5em;
}
.advice .lets-apply h3{
    color: #333333; font-size: 25px;
    font-weight: 700; margin-top: 0;
}

/*Main Contents*/
section{
    position: relative;
}
#opening .jumbotron {
    background: #83C67F;
    width: 100%; height: 825px; 
    /*Inside Alignment*/
    display: flex; justify-content: flex-start;
    align-items: center;
}
#opening .jumbotron .content{
    margin-left: 9em;
    margin-top: -5em;
}
#opening .jumbotron img.family{
    position: absolute;
    right: 0; bottom: 0;
    width: 800px;
}
h1.top-topic{
    font-weight: 500; font-size: 56px;
    line-height: 70px; color: #FFF;
    letter-spacing: 3px; margin-bottom: 1.3em;
}
h1.top-topic .long-word-spacing{
    word-spacing: 45px;
}
p.sub-title{
    font-size: 36px; font-weight: 700;
    line-height: 48px; letter-spacing: 4px;
    color: #FEE575;
}
p.declaration{
    position: relative; top: -5px;
}
img.family-in-banner{
    display: none;
}

#second h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 2px;
    padding-top: 1em;
    word-spacing: -8px;
}
#second .content{
    margin-top: 2.75em;
}
#second .content::before{
    content: url(../img/green_decoration.svg);
    position: absolute; z-index: -1;
    margin-top: 2em;
}
#second .content::after{
    content: url(../img/blue_decoration.svg);
    position: absolute; z-index: -1;
    right: 0; width: 800px; transform: translate(13em, -25em);
}
#second .content .section-1,
#second .content .section-2{
    padding: 24px; display: inline-block;
    width: 800px; height: 460px;
    vertical-align: top;
    background: #E6F4E5; border-radius: 16px;
    text-align: left; margin: 1em .75em;
}
#second .content .section-1 .logos .logo{
    margin-left: 1em;
}
#second .content .section-2::before{
    content: url(../img/leaves.svg);
    position: absolute;
    transform: translate(52em, -3.5em);
}
#second .content .section-2::after{
    content: url(../img/family.svg);
    position: absolute; right: 7.5em;
    margin-top: 2em;
}
#second .content .section-1 h3,
#second .content .section-2 h3{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: .6em;
}
#second .content .section-1 ul,
#second .content .section-2 ul{
    padding-left: .65em;
}
#second .content .section-1 p,
#second .content .section-2 p{
    font-size: 21.5px;
    letter-spacing: 1px;
}
#second .content .section-2 ul{
    margin-top: 23px;
}
#second .content .section-1 .declaration,
#second .content .section-2 .declaration{
    font-size: 18px;
}
#second .content .section-1 a,
#second .content .section-2 a{
    color: #467443;
    text-decoration: underline;
}
#second .login-and-advice{
    margin-top: 2em;
}
#second .login-and-advice a{
    text-decoration: none;
}
#second .login-and-advice > *{
    display: inline-block;
}

div.logo{
    width: 70px; height: 70px; margin: 0 .4em;
    background: #FFF; border-radius: 100%;
    filter: drop-shadow(0px 1.42857px 12.8571px rgba(70, 140, 65, 0.21));
    /*Inside Alignment*/
    display: inline-flex; justify-content: center; align-items: center;
}
div.logo img{
    width: 55px;
}
button.yellow-bg, button.yellow-border{
    padding: 12px 27px; margin: 0 1em;
    width: 215px; border-radius: 40px;
    font-weight: 400; font-size: 21.5px;
    letter-spacing: 1.5px; transition: all .5s ease;
}
button.yellow-bg > div, button.yellow-border > div{
    /*Inside-Alignment*/
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
button.yellow-bg{
    background: #FFA047; border: none;
    color: #FFF;
}
button.yellow-border{
    background: none; border: 1.5px solid #FFA047;
    color: #FFA047;
}

button.yellow-bg:hover{
    background: #ff7247;
}
button.yellow-border:hover{
    border: 1.5px solid #ff7247;
    color: #ff7247;
}

#third::after{
    content: url(../img/blue_background.svg);
    width: 100%; position: absolute; z-index: -1;
    transform: translateY(-42%);
}
#third h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 2px;
    padding-top: 3em;
}
#third .owl-carousel .owl-nav button.owl-next, 
#third .owl-carousel .owl-nav button.owl-prev{
    background: #FFF;
    color: #467443; opacity: 1;
    border: 2px solid #467443;
    border-radius: 100%;
    width: 60px; height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
#third .owl-carousel .owl-nav button.owl-next:hover, 
#third .owl-carousel .owl-nav button.owl-prev:hover{
    background: rgba(255, 255, 255, .5);
}
#third .owl-carousel div.logo{
    width: 55px; height: 55px; 
    display: inline-flex; margin-top: -2px;
}
#third .owl-carousel div.logo img{
    width: 40px;
}
#third .banner-carousel .owl-item .banner-carousel-card article{
    width: 85%; margin-left: 7px; 
    padding-right: 1em; margin-top: 3px !;
}
#third .banner-carousel .owl-item .banner-carousel-card article h3{
    font-size: 15px; letter-spacing: .5px;
    margin-bottom: 5px; margin-top: 3px;
}
#third .banner-carousel .owl-item .banner-carousel-card article p{
    font-size: 8px; letter-spacing: .5px;
}
#third .banner-carousel .owl-item.active.center .banner-carousel-card article h3{
    font-size: 17px;
}
#third .banner-carousel .owl-item.active.center .banner-carousel-card article p{
    font-size: 14px;
}

img.cloud-1{
    position: absolute;
    left: 12em;
    z-index: 5;
    bottom: 4em;
    width: 100px;
}
img.cloud-2{
    position: absolute;
    bottom: 2em;
    width: 95px;
    left: 22em;
    z-index: 5;
}
img.cloud-3 {
    position: absolute;
    bottom: 11em;
    width: 120px;
    right: 20em;
    z-index: 5;
}

#third .discount{
    margin-top: 1em;
    display: block;
    text-align: center;
}
#third .discount > *{
    display: inline-block;
}
#third .discount a{
    text-decoration: none;
}
#third button.yellow-border {
    display: block;
    margin: auto;
    width: 255px;
    font-size: 22px;
    margin-left: 0;
    background: #FFF;
}
#third .discount img.visitor {
    position: absolute;
    transform: translate(80%, -70%);
    width: 175px; z-index: 5;
}

#forth::before{
    content: url(../img/cloud_background.svg);
    width: 100%; position: absolute;
    z-index: -1; transform: translateY(-25%);
}
#forth h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 2px;
    padding-top: 3em;
}

.carousel{
    width: 85%; margin: auto;
}
.glyphicon-chevron-style{
    width: 60px !important;
    height: 60px !important;
    margin-top: -15px;
    font-size: 20px;
    border-radius: 100%;
    background: #FFF;
    border: 2px solid #467443;
    transition: all .5s ease;
    /*Inside Alignment*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.glyphicon-chevron-style:hover{
    opacity: .5;
}
.carousel-inner-slider .info{
    width: 92%; margin: auto;
    padding: 2em 1.25em; 
    background: #FFF;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border: 2px solid #ADADAD;
    border-top: none; transition: all .5s ease;
}
.carousel-inner-slider:hover .info{
    background: #F0F0F0;
}
.carousel-inner-slider .info .object-logo {
    position: absolute;
    right: 2.55em; margin-top: -4em;
}
.carousel-inner-slider .info .object-logo img{
    border-radius: 100%;
    width: 75px; height: 75px;
}
.carousel-inner-slider .info h3{
    color: #467443; font-size: 26px;
    letter-spacing: .25px; margin-top: 0;
    margin-bottom: 15px;
}
.carousel-inner-slider .info p{
    font-size: 20px; letter-spacing: .5px;
}

#fifth h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 2px;
    padding-top: 1.5em;
    word-spacing: 10px;
}

footer#final{
    background: #FFF; margin-top: 3em;
}
footer#final::before{
    content: url(../img/green_bottom_background.svg);
    width: 100%; position: absolute; z-index: -1;
    transform: translateY(-85%);
}
footer#final::after{
    content: ''; background: #00A94F;
    width: 100%; height: 18px;
    position: absolute;
}
footer .appication{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #CECECE;;
}
footer .appication .content{
    padding-top: 3em;
}
footer .appication ul{
    padding-left: 20px;
}
footer .appication ul li{
    list-style: none;
    display: inline-block;
    border-right: 1px solid #333333;
    padding: 0px 18px; height: 20px;
}
footer .appication ul li:last-child{
    border-right: none;
}
footer .appication ul li a{
    color: #333333;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative; top: -3px;
}
footer .appication a.domain{
    color: #333333;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative; right: 40px;
    top: 1.75em;
}
footer .info{
    padding-left: 2.6em;
}
footer .info > *{
    display: inline-block;
    vertical-align: middle;
}
footer .info h2{
    color:#ADADAD;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 15px;
    margin-bottom: 15px;
}
footer .info .paragraphes{
    margin-left: 3em;
}
footer .info p{
    color:#8E8E8E;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1.4;
}

@media only screen and (max-device-width: 990px){

    /*Effect*/
    button.yellow-bg:active{
        background: #ff7247;
    }
    button.yellow-border:active{
        border: 1.5px solid #ff7247;
        color: #ff7247;
    }
    header .navbar a.nav-link:active::after{
        width: 100%; 
    }
    #third .owl-carousel .owl-nav button.owl-next:hover, 
    #third .owl-carousel .owl-nav button.owl-prev:hover{
        background: #FFF;
    }
    .glyphicon-chevron-style:hover{
        opacity: 1;
    }

}

@media only screen and (max-width: 400px){
    
    img.cloud-1 {
        z-index: 5;
        width: 50px;
        top: 46%;
        left: 1em;
    }
    img.cloud-2 {
        position: absolute;
        top: 44%;
        width: 50px;
        left: 5.2em;
        z-index: 5;
    }
    img.cloud-3 {
        position: absolute;
        top: 47%;
        width: 60px;
        right: 1.8em;
        z-index: 5;
    }

}

@media only screen and (max-width: 530px){

    #second .login-and-advice {
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }
    .login-and-advice button {
        padding: 12px 27px;
        margin: 0 10px;
        width: 170px;
        font-size: 18px;
        letter-spacing: .5px;
    }
    #opening .jumbotron img.family {
        width: 87%;
    }
    footer#final::before{
        content: url('../img/green_bottom_background_mobile.svg');  
    }

}

@media only screen and (min-width: 531px) and (max-width: 705px) {

    #opening .jumbotron img.family {
        width: 67%;
    }

}

@media only screen and (min-width: 531px) and (max-width: 900px){

    footer#final::before{
        content: url('../img/grren_bottom_background_900px.svg');  
    }

}

@media only screen and (min-width: 706px) and (max-width: 900px) {

    #opening .jumbotron img.family {
        width: 58%;
    }

}

@media only screen and (min-width: 901px) and (max-width: 1440px) {

    #opening .jumbotron img.family {
        width: 47%;
    }

}

@media only screen and (max-width: 765px){

    header .navbar{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    header .navbar-nav{
        flex-direction: column !important;
    }
    header .navbar img.logo {
        position: absolute;
        top: 16px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    header nav .container-fluid{
        width: 100%; 
        background: #FFF;
    }
    header .navbar .nav-item{
        margin: .5em 0;
    }
    #third .banner-carousel .owl-item .banner-carousel-card article {
        width: 70%;
    }
    
}

@media only screen and (min-width: 765px){

    header .navbar-toggler {
        display: none;
    }
    
}

@media only screen and (min-width: 765px) and (max-width: 1130px){

    header .container-fluid {
        width: 95%;
    }
    header .navbar img.logo {
        width: 150px;
    }
    header .navbar-collapse {
        flex-basis: 71% !important;
        padding-left: 0; padding-right: 0;
    }
    header .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 0;
    }
    header .navbar a.nav-link {
        font-size: 18px;
        /* letter-spacing: 1px; */
        text-decoration: none;
        position: relative;
        top: 3px;
    }

}

@media only screen and (min-width:765px) and (max-width: 1050px){

    #opening .jumbotron .content {
        margin-left: 1em; 
        margin-top: -13em;
    }

}

@media only screen and (max-width: 960px){

    #second .content .section-1::before {
        content: url(../img/leaves.svg);
        position: absolute; right: 10px;
        margin-top: -3.5em;
    }
    #second .content .section-2::before {
        display: none;
    }

}

@media only screen and (min-width: 961px) and (max-width: 1770px) {

    #second .content .section-2::before {
        content: url(../img/leaves.svg);
        position: absolute;
        transform: none; 
        right: 80px;
        margin-top: -4em;
    }

}

@media only screen and (max-width: 765px){

    header .container-fluid {
        width: 100%;
    }
    header .navbar img.logo {
        width: 150px;
    }
    #opening .jumbotron {
        height: 670px;
        display: flex;
        justify-content: center;
    }
    #opening .jumbotron .content {
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 6em;
    }
    h1.top-topic {
        font-weight: 500;
        font-size: 33px;
        line-height: 45px;
        letter-spacing: 0;
        text-align: center;
        margin-bottom: .4em;
    }
    h1.top-topic .long-word-spacing {
        word-spacing: 20px;
    }
    p.sub-title {
        font-size: 26px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: .5px;
    }
    #second .content {
        margin-top: 2em;
    }
    #second h2 {
        font-size: 26px;
        line-height: 35px;
        letter-spacing: 0;
        padding-top: 0; 
    }
    #second .content .section-1 h3, 
    #second .content .section-2 h3 {
        font-weight: 700;
        font-size: 25px;
        letter-spacing: 0;
        margin-top: 0;
    }
    h3 span.number {
        font-size: 28px;
    }
    .number {
        position: relative;
        top: 0;
    }
    #second .content .section-1 p, 
    #second .content .section-2 p {
        font-size: 15px;
    }
    #second .content .section-1 .logos{
        margin-left: 1em;
    }
    #second .content .section-1 .logos .logo {
        margin-left: 0; 
    }
    #second .logos{
        margin-top: 1.2em;
    }
    div.logo {
        width: 45px;
        height: 45px;
        margin: 0 5px;
    }
    div.logo img {
        width: 32px;
    }
    #second .content .section-1 .declaration, 
    #second .content .section-2 .declaration {
        font-size: 15px;
    }
    #third h2 {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 35px;
        padding-top: 1em;
    }
    #third button.yellow-border{
        display: block;
        margin: auto;
        width: 230px;
        font-size: 18px;
        margin-left: 2em;
    }
    #third .discount img.visitor {
        position: relative;
        left: -1.5em;
        transform: none;
        width: 80px;
    }
    #forth h2 {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 35px;
        padding-top: 1em;
        margin-bottom: .75em;
    }
    #fifth h2 {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 35px;
        padding-top: 1em;
        margin-bottom: .75em;
        word-spacing: normal;
    }
    .carousel-inner-slider .info .object-logo img {
        border-radius: 100%;
        width: 55px;
        height: 55px;
    }
    footer .appication {
        margin-top: 4em;
        display: block;
    }
    footer .appication ul{
        margin-bottom: 15px;
        padding-left: 0;
    }
    footer .appication a.domain {
        display: none;
    }
    footer .appication ul li a {
        font-size: 15px;
        letter-spacing: .5px;
        top: -2px;
    }
    footer .info p {
        color: #8E8E8E;
        font-size: 13px;
        line-height: 1.25;
    }
    .advice {
        width: 92% !important;
    }

}

@media only screen and (max-width: 1030px){

    .banner-carousel-card .inside-contents h3{
        color: #000;
    }
    .banner-carousel .owl-item .banner-carousel-card article p {
        color: #999999;
    }
    #third .owl-carousel div.logo {
        width: 40px; height: 40px;
        position: relative; top: 8px;
    }
    #third .owl-carousel div.logo img {
        width: 30px;
    }
    #third::after {
        transform: none;
        top: 7.6em;
    }
    .owl-item .banner-carousel-card .inside-contents{
        color: inherit;
        width: 80%;
        margin: auto; display: flex;
        position: relative; top: -4px;
    }
    #forth::before {
        display: none;
    }
    .carousel{
        width: 100%;
    }
    .advice {
        width: 60%;
        height: 85px;
        border-radius: 32px;
        padding: 15px 0;
    }
    .advice p {
        font-size: 15px;
        margin-bottom: 0;
        font-weight: 600;
        letter-spacing: .5px;
        line-height: 1;
        top: -1.3em;
    }
    .advice .percentage {
        font-size: 48px;
        padding: 0 8px;
    }
    .advice .lets-apply {
        position: relative;
        top: -2.2em; left: 10px; 
    }
    .advice .lets-apply h3 {
        font-size: 18px;
    }
    .ready-block{
        display: block;
    }

}

@media only screen and (min-width: 1030px) and (max-width: 1430px){
    
    #third .owl-carousel div.logo {
        width: 50px;
        height: 50px;
        position: relative;
        top: 8px;
    }
    #third .owl-carousel div.logo img {
        width: 30px;
    }

}

@media only screen and (max-width: 1320px){
    
    footer .appication .content {
        padding-top: 1.25em;
        text-align: center;
    }
    footer .appication ul li {
        padding: 0px 10px;
    }
    footer .appication ul li a {
        top: -2px;
    }
    footer .info {
        padding-left: 1.5em;
    }
    footer .info h2 > span.block{
        display: inline;
    }
    footer .info .paragraphes {
        margin-left: 0; 
        padding-right: 2em;
        padding-bottom: 1.75em;
    }
    footer .info p {
        display: inline;
    }
    footer .appication a.domain{
        top: .7em;
    }

}

@media only screen and (max-width: 1670px){

    #second .content .section-1, #second .content .section-2 {
        display: block; margin: auto;
        width: 87%; height: inherit;
        text-align: left; margin-bottom: 1.7em;
    }
    #second .content::after,
    #second .content .section-2::after {
        display: none;
    }

}

@media only screen and (min-width: 401px) and (max-width: 1919px){
    
    img.cloud-1, img.cloud-2, img.cloud-3{
        display: none;
    }

}